@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&family=Lora:wght@600&family=Moirai+One&family=Pacifico&family=Titillium+Web:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&family=Libre+Baskerville:wght@700&family=Lora:wght@600&family=Moirai+One&family=Pacifico&family=Titillium+Web:wght@400;900&display=swap');

/* Variaveis de cor/fonte */

:root {
    --main-color: #00ADB5;
    --text-color: #eee;
    --background-color: #222831;
    --big-font: 3.4em;
    --h2-font: 2rem;
    --p-font: 0.9rem;
}

/* Corpo do site */

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* Formatação do logo do site */

.logo {
    color: var(--main-color);
    font-size: var(--big-font);
    font-style: italic;
    margin-right: 10px;
    font-family: 'Moirai One', cursive;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

/* Estilos da barra de navegação */

nav {
    position: relative;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    text-indent: 10px;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: 0.5s;
}

 ul li a:hover {
    background: var(--main-color);
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 0 3px 0 3px rgba(0, 0, 0, 0.5);
}

.active {
    background: var(--main-color);
    border-radius: 20px;
    padding: 10px;
}

/* Formatação da primeira section */

section#About {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    text-align: center;
}

section#About img {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    filter: drop-shadow(0 0 10px #00ADB5);
}

section#About div {
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
    padding: 0 20px;
}

section#About h1 {
    font-size: var(--big-font);
    color: var(--main-color);
    font-family: 'Libre Baskerville', serif;
}

section#About h2#developer {
    font-size: var(--h2-font);
    color: var(--text-color);
    font-family: 'Libre Baskerville', serif;
}

section#About button {
    padding: 10px;
    color: var(--text-color);
    background: var(--main-color);
    font-weight: 600;
    font-family: 'Libre Baskerville', serif;
    border-radius: 15px;
    transition: 0.5s;
}

section#About button:hover {
    color: black;
    box-shadow: 0 3px 0 7px rgba(0, 0, 0, 0.5);
}

/* Formatação da segunda section */

section#About2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    text-align: center;
    height: 80vh;
}

section#About2 img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    
}

section#About2 div {
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
    padding: 0 20px;
}

h2#aboutme {
    margin-top: -40px;
    font-size: var(--h2-font);
    color: var(--main-color);
    font-family: 'Libre Baskerville', serif;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.5);
    padding: 10px;
  
}

section#About2 p {
    margin-top: 50px;
    color: var(--text-color);
}

/* formatação dos logos das redes sociais  */

 section#About #social{
    display: flex;
    align-items: center;
    justify-content: center;
   
    width: 100%;
    max-width: 350px;
    padding: 0 50px;
    text-indent: 25px;
    

 }

section#About .fa-instagram {
   color: #00ADB5;
   font-size: 30px;    
}

section#About .fa-linkedin {
    color: #00ADB5;
    font-size: 30px;
    
}

section#About .fa-github {
    color: #00ADB5;
    font-size: 30px;
    align-items: center;
    
    
}
/* Estilos das seções de conteúdo */

section {
    padding: 50px;
    text-align: center;
}

section h1 {
    font-size: var(--big-font);
    
}

